body {
    font-family: 'lato', sans-serif;
  }
  .logo-img{
    height: 10vh;
}

.navbar{
    padding: .8rem;
}

.navbar-nav li{
padding-right: 20px ;
}
.nav-link{
    font-size: 1.4em !important;
}
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8px;
    padding-right: 8px;
  }
  h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
  }

    li {
      border-radius: 3px;
      padding: 25px 30px;
      display: flex;
      margin-bottom: 25px;
      /* justify-content: center; */
    }
    .table-header {
      background-color: #95A5A6;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
    }
    .table-row {
      background-color: #ffffff;
      box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    }
    .col-1 {
      flex-basis: 7%;
      margin-left: -2%;
    }
    .col-2 {
      flex-basis: 20%;
    }
    .col-3 {
        flex-basis: 13%;
    }
    .col-4 {
        flex-basis: 20%;
        /* margin-left: 65px;
        margin-right: 20px; */
    }
    .col-new {
      
      max-width: 10.2%;
    }
    .submit-btn2 {
      color: #fff;
      background-color: #f23e3e;
      font-weight: 400;
      height: 40px;
      font-size: 14px;
      border: none;
      width: 200%;
      border-radius: 40px;
      text-transform: uppercase;
      -webkit-transition: 0.2s all;
      transition: 0.2s all;
    }
    .submit-btn3 {
      color: #fff;
      background-color: #02640d;
      font-weight: 400;
      height: 40px;
      font-size: 14px;
      border: none;
      width: 200%;
      border-radius: 40px;
      text-transform: uppercase;
      -webkit-transition: 0.2s all;
      transition: 0.2s all;
    }
    
    
    .submit-btn {
      color: #fff;
      background-color: #f23e3e;
      font-weight: 400;
      height: 40px;
      font-size: 14px;
      border: none;
      width: 10%;
      border-radius: 40px;
      text-transform: uppercase;
      -webkit-transition: 0.2s all;
      transition: 0.2s all;
    }
    #myInput {
      background-image: url('/css/searchicon.png'); /* Add a search icon to input */
      background-position: 10px 12px; /* Position the search icon */
      background-repeat: no-repeat; /* Do not repeat the icon image */
      width: 50%; /* Full-width */
      font-size: 16px; /* Increase font-size */
      padding: 12px 20px 12px 40px; /* Add some padding */
      border: 1px solid #ddd; /* Add a grey border */
      margin-bottom: 12px; /* Add some space below the input */
      margin-left: 250px;
    }

   /*   .col-5{
      flex-basis:10%;
    }
   .col-6{
      flex-basis:30%;
    }
    .col-7{
      flex-basis:10%;
    }
    .col-8{
      flex-basis:10%;
    }
    */
    .btn{
      border: none;
    }
    .btn:hover {
  
      transform: scale(1.4);
    }
    
    @media all and (max-width: 767px) {
      .table-header {
        display: none;
      }
      .table-row{
        
      }
      li {
        display: block;
      }
      .col {
        
        flex-basis: 100%;
        
      }
      .col {
        display: flex;
        padding: 10px 0;
      }
    .col:before {
          color: #6C7A89;
          padding-right: 10px;
          content: attr(data-label);
          flex-basis: 50%;
          text-align: right;
        }

    }
  