@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

.logo-img{
  height: 10vh;
}

.navbar{
  padding: .8rem;
}

.navbar-nav li{
padding-right: 20px ;
}
.nav-link{
  font-size: 1.4em !important;
}
body{
  height: 128vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #838383, #ffffff);
}
.container{
  max-width: 700px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #d4e3ec, #232324);
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #fd3434;
}
 form .gender-details .gender-title{
  font-size: 1rem;
  font-weight: 500;
 }
 form .category{
   display: inline-flex;
   width: 80%;
   margin: 14px 17px ;
   padding-top: 1px;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
   padding-left: 10px;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #000000;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
 .btn-drop {
  color: #fff;
  background-color: #000000;
  border-color: #ff0000;
}
 form .button{
   height: 45px;
   margin: 35px 0
 }
 select:active, select:hover {
  outline-color: red
}
#confirmPassError{
  color:red;
}
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #838383, #5c5c5c);
 }
 
 select.decorated option:hover {
  box-shadow: 0 0 10px 100px #ff0000 inset;
}
 .service:hover
 {
  background-color: red; 
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #838383, #303030);
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}
